{:kotoba.app/id "cloud.itonami.isic-563", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifz7wjat77mtckdhg7havt7nvk6npb4ozgs3544d2fdksi2wbx3ia", :kotoba.app/embed-url "ipfs://bafkreifz7wjat77mtckdhg7havt7nvk6npb4ozgs3544d2fdksi2wbx3ia", :published {:archive "https://kotobase.net/ipfs/bafkreifz7wjat77mtckdhg7havt7nvk6npb4ozgs3544d2fdksi2wbx3ia", :size 72488, :put-status 201, :get-status 200, :at "2026-08-15T13:34:42.103Z"}}
